{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": ["airbnb"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.0"
    }
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "react/jsx-indent": [1, 2],
    "react/jsx-indent-props": [1, 2],
    "semi": [1, "always"],
    "strict": [2, "global"],
    "no-use-before-define": 0,
    "curly": 2,
    "complexity": 2,
    "eqeqeq": [2, "smart"],
    "no-lone-blocks": 2,
    "no-magic-numbers": [2, {
      "ignore": [-1, 0, 1, 2]
    }],
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "vars-on-top": 2,
    "wrap-iife": [2, "outside"],
    "callback-return": 2,
    "array-bracket-spacing": [2, "never"],
    "block-spacing": [2, "always"],
    "brace-style": [2, "1tbs", {
      "allowSingleLine": true
    }],
    "camelcase": [1, {"properties": "never"}],
    "comma-spacing": [2, {
      "before": false,
      "after": true
    }],
    "comma-dangle": [0, "always-multiline"],
    "no-underscore-dangle": [1, {
        "allow": ["_id", "_doc"]
    }],
    "no-mixed-spaces-and-tabs": 0,
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "consistent-this": [2, "self", "vm"],
    "func-names": 0,
    "func-style": [2, "declaration", {
      "allowArrowFunctions": true
    }],
    "react/jsx-filename-extension": [0],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],
    "lines-around-comment": [2, {
        "beforeBlockComment": true,
        "beforeLineComment": false,
        "afterLineComment": false
      }
    ],
    "max-nested-callbacks": [2, 2],
    "new-cap": 2,
    "newline-after-var": [1, "always"],
    "no-inline-comments": 0,
    "no-lonely-if": 0,
    "padded-blocks": [0, "always"],
    "one-var": [1, "never"],
    "operator-assignment": [1, "never"],
    "operator-linebreak": [1, "after"],
    "quote-props": 0,
    "quotes": [1, "single", "avoid-escape"],
    "keyword-spacing": [1, {
      "before": true,
      "after": true,
      "overrides": {}
    }],
    "space-before-blocks": 2,
    "space-before-function-paren": [1, {
      "anonymous": "always",
      "named": "never"
    }],
    "space-in-parens": [0, "always"],
    "spaced-comment": [1, "always", {
      "exceptions": ["-"]
    }],
    "object-curly-spacing": [1, "always", {
      "objectsInObjects": false,
      "arraysInObjects": false
    }],
    "max-len": [1, {
      "code": 80,
      "tabWidth": 2,
      "ignoreUrls": true
    }],
    "max-lines": ["error", {
      "max": 200,
      "skipBlankLines": true,
      "skipComments": true
    }],
    "max-depth": ["error", {
      "max": 4
    }],
    "max-params": ["error", {
      "max": 4
    }],
    "max-statements": ["error", {
      "max": 15
    }],
    "no-mixed-operators": 0,
    "import/no-unresolved": [2, {
      "ignore": ['^(app|settings|models|api|lib|schema|compare)']
    }],
    "import/no-extraneous-dependencies": [0],
    "import/extensions": [0],
    "react/prop-types": [1, {
      "ignore": [
        "classes"
      ]
    }],
    "react/forbid-prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "class-methods-use-this": 0
  },
  "globals": {

  }
}
