@import url('https://fonts.googleapis.com/css?family=Material+Icons|Montserrat:200,400,400i,700,900');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(222, 21%, 25%);
}

div {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: hsla(0, 0%, 100%, .1);
}

::-webkit-scrollbar:vertical {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

.percentage-enter {
  opacity: 0.5;
}

.percentage-enter.percentage-enter-active {
  opacity: 1;
  transition: opacity .8s ease-in-out;
}
